<div>
    <div class="row">
        <div class="add">
            <a href="/Product/Create" class="btn btn-success ">Agregar </a>
        </div>
        <div class="col-4 mb-3">
            <div class="card shadow-sm">
                <a style="text-decoration:none; color:gray;">
                    <div class="card-body" id="Card">

                    </div>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h4 class="modal-title" id="myModalLabel">Edit product</h4>
            </div>
            <div class="modal-body">
                <form class="formContent" id="formValidate">
                    <input id="ID" name="ID" type="hidden" />

                    <div class="field">
                        <input id="ProductName" name="ProductName" placeholder="Ingrese el nombre del producto" />
                    </div>
                    <div class="field">
                        <input id="UnitPrice" name="UnitPrice" placeholder="Ingrese el precio por unidad" />
                    </div>
                    <div class="field">
                        <input id="UnitInStock" name="UnitInStock" placeholder="Unidades en el almacen" />
                    </div>
                    <div class="field">
                        <input id="Garantie" name="Garantie" placeholder="Garantia" />
                    </div>
                    <div class="field" style="height:auto;">
                        <select id="Categories" class="form-select">
                            <option value="0"> Categoria</option>
                        </select>
                    </div>
                    <div class="field">
                        <select id="Discontinued" class="form-select">
                            <option value=true>Discontinued</option>
                            <option value=false>Active</option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btnAdd" onclick="Update();">Update</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<script>
    window.onload = () => {
        var url = "/Product/List"
        $.ajax({
            url: url,
            method: "GET",
            dataType: "json",
            contentType: "application/json",
            success: function (data) {
                data = JSON.parse(data);
                $.map(data, (product) => {
                    $("#Card").append(
                        "<div class='CardContainer'>" +
                        "<h3>" + product.ProductName + "</h3>" +
                        "<div class='d-flex justify-content-between'>" +
                        "<p class='card-text'> Price:" + product.UnitPrice + "</p>" +
                        "<small class='fw-bold'></small>" +
                        "</div>" +
                        "<div class='d-flex justify-content-between'>" +
                        "<small class='fw-bold'> In Stock:" + product.UnitInStock + "</small> <br>" +
                        "<small class='fw-bold'> Garantie:" + product.Garantie + "</small>" +
                        "<small class='fw-bold'> Garantie:" + product.Discontinued + "</small>" +
                        "</div>" +
                        "<div class='btn-group'>" +
                        "<button type='button' class='btn btn-primary' data-toggle='modal' data-target='#myModal' onclick='getbyID(" + product.ID + ")'>Edit</button>" +
                        "<a class='btn btn-danger' onclick='Delete(" + product.ID + ")'>Borrar</a>" +
                        "</div>"
                    )
                })

            },
            error: function (err) {
                console.error(err);
            }
        })
        var urlCategory = "/Category/List"
        $.ajax({
            url: urlCategory,
            method: "GET",
            dataType: "json",
            contentType: "application/json",
            success: function (data) {
                data = JSON.parse(data);
                console.log(data);
                $.map(data, (category) => {
                    $("#Categories").append(
                        "<option value=" + category.ID + ">" + category.CategoryName + "</option > "
                    )
                })

            },
            error: function (err) {
                console.error(err);
            }
        })
    }
    function Delete(ID) {
        var product = {
            "ID": ID
        }
        $.post('/Product/Delete', product)
            .done(function (data) {
                if (data != null) {
                    window.location.href = data
                }
            })
            .fail(function (data) {
                console.log(data)
            })
    }
    function getbyID(ID) {
        $.ajax({
            url: "/Product/GetID",
            method: "GET",
            dataType: "json",
            contentType: "application/json",
            data: {
                "ID": ID
            },
            success: function (data) {
                data = JSON.parse(data);
                $('#ID').val(data.ID);
                $('#ProductName').val(data.ProductName);
                $('#UnitPrice').val(data.UnitPrice);
                $('#Garantie').val(data.Garantie);
                $('#UnitInStock').val(data.UnitInStock);
                $('#CategoryID').val(data.CategoryID);
                $('#Discontinued').val(data.Discontinued);

            },
            error: function (err) {
                console.error(err);
            }
        })
    }

    function Update() {
        var productModel = {
            "ID": $('#ID').val(),
            "ProductName": $('#ProductName').val(),
            "UnitPrice": $('#UnitPrice').val(),
            "UnitInStock": $('#UnitInStock').val(),
            "Garantie": $('#Garantie').val(),
            "CategoryID": $('#Categories').val(),
            "Discontinued": $('#Discontinued').val()

        }
        console.log(productModel)
        $.post('/Product/Update', productModel)
            .done(function (data) {
                if (data != null) {
                    window.location.href = data
                }
            })
    }

</script>
