
<div class="formContainer">
    <div class="form">
        <header>
            Crear detalle producto
        </header>

        <form class="formContent" id="formValidate">
            <div class="field">
                <input id="ProductName" name="ProductName" placeholder="Ingrese el nombre del producto" />
            </div>
            <div class="field">
                <input id="UnitPrice" name="UnitPrice" placeholder="Ingrese el precio por unidad" />
            </div>
            <div class="field">
                <input id="UnitInStock" name="UnitInStock" placeholder="Unidades en el almacen" />
            </div>
            <div class="field">
                <input id="Garantie" name="Garantie" placeholder="Garantia" />
            </div>
            <div class="field" style="height:auto;">
                <select id="Categories" class="form-select">
                    <option value="0"> Categoria</option>
                </select>
            </div>
            <button type="submit" style="margin-top:20px;">Create Product</button>
        </form>
    </div>
</div>
<script src="~/Scripts/main.js"></script>
