<div class="container-fluid">
    <div class="row containerHome">
        <div class="Filters">
            <form id="SearchForm">
                <input id="Search" class="form-control" placeholder="search products">
            </form>
            <form id="FilterByCategoryForm">
                <div>
                    <div class="form-check" id="Categories">
                        <input class="form-check-input" value="0" type="radio" name="CategoryId" />
                        <label class="form-check-label" for="CategoryId">All</label>

                    </div>
                    <input type="submit" class="button" value="Filter" />
                </div>
            </form>
        </div>
        <div class="products">

            <div class="row">

                <div class="col-4 mb-3">
                    <div class="card shadow-sm">
                        <a style="text-decoration:none; color:gray;">
                            <div class="card-body" id="Card">

                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/main.js"></script>
