<div class="container-fluid">
    <div class="row containerHome">
        <div class="Filters">
            <form id="SearchForm">
                <input id="Search" class="form-control" placeholder="search products">
            </form>
            <form id="FilterByCategoryForm">
                <div>
                    <div class="form-check" id="Categories">
                        <input class="form-check-input" value="0" type="radio" name="CategoryId" />
                        <label class="form-check-label" for="CategoryId">All</label>
                      
                    </div>
                        <input type="submit" class="button" value="Filter" />
                </div>
            </form>
        </div>
        <div class="products">

            <div class="row">

                <div class="col-4 mb-3">
                    <div class="card shadow-sm">
                        <a style="text-decoration:none; color:gray;">
                            <div class="card-body" id="Card">

                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    <script>
        window.onload= () => {
            var url = "/Product/List"
            $.ajax({
                url: url,
                method: "GET",
                dataType: "json",
                contentType: "application/json",
                success: function (data) {
                    data = JSON.parse(data);
                    if (data != null) {
                        $.map(data, (product) => {
                            $("#Card").append(
                                "<div class='CardContainer'>"+
                                "<h3>" + product.ProductName + "</h3>" +
                                "<div class='d-flex justify-content-between'>" +
                                "<p class='card-text'> Price:" + product.UnitPrice + "</p>" +
                                "<small class='fw-bold'></small>" +
                                "</div>" +
                                "<div class='d-flex justify-content-between'>" +
                                "<small class='fw-bold'> In Stock:" + product.UnitInStock + "</small> <br>" +
                                "<small class='fw-bold'> Garantie:" + product.Garantie + "</small>" +
                                "</div>")
                        })
                    }
                    else {
                        $("#Card").append("<h1>No items found</h1>")

                    }
                },
                error: function (err) {
                    console.error(err);
                }
            })
            var urlCategory = "/Product/ListCategory"
            $.ajax({
                url: urlCategory,
                method: "GET",
                dataType: "json",
                contentType: "application/json",
                success: function (data) {
                    data = JSON.parse(data);
                    console.log(data);
                    $.map(data, (category) => {
                        console.log(category);
                        $("#Categories").append(
                            "<br>"+
                            "<input class='form-check-input' value=" + category.ID + " type='radio' name='CategoryId' />" +
                            "<label class='form-check-label' for='CategoryId'>" + category.CategoryName +"</label>")+
                            "<br>"

                    })

                },
                error: function (err) {
                    console.error(err);
                }
            })
        }

        $(document).on("submit", "#SearchForm", function (e) {
            e.preventDefault();
            var url = "/Product/Search"
            $.ajax({
                url: url,
                method: "GET",
                dataType: "json",
                contentType: "application/json",
                data: {
                    "search": $('#Search').val()
                },
                success: function (data) {
                    data = JSON.parse(data);
                    if (data != null) {
                            $("#Card").empty();
                        $.map(data, (product) => {
                            $("#Card").append(
                                "<div class='CardContainer'>" +
                                "<h3>" + product.ProductName + "</h3>" +
                                "<div class='d-flex justify-content-between'>" +
                                "<p class='card-text'> Price:" + product.UnitPrice + "</p>" +
                                "<small class='fw-bold'></small>" +
                                "</div>" +
                                "<div class='d-flex justify-content-between'>" +
                                "<small class='fw-bold'> In Stock:" + product.UnitInStock + "</small> <br>" +
                                "<small class='fw-bold'> Garantie:" + product.Garantie + "</small>" +
                                "</div>")

                        })
                    }
                    else {
                        $("#Card").append("<h1>No items found</h1>")

                    }
                },
                error: function (err) {
                    console.error(err);
                }

            })
        })

        $(document).on("submit", "#FilterByCategoryForm", function (e) {
            e.preventDefault();
            var url = "/Product/FilterByCategory"
            $.ajax({
                url: url,
                method: "GET",
                dataType: "json",
                contentType: "application/json",
                data: {
                    "CategoryId": $('input[name=CategoryId]:checked', '#FilterByCategoryForm').val()
                },
                success: function (data) {
                    data = JSON.parse(data);
                    console.log(data);
                    if (data != null) {
                        $("#Card").empty();
                        $.map(data, (product) => {
                            $("#Card").append(
                                "<div class='CardContainer'>" +
                                "<h3>" + product.ProductName + "</h3>" +
                                "<div class='d-flex justify-content-between'>" +
                                "<p class='card-text'> Price:" + product.UnitPrice + "</p>" +
                                "<small class='fw-bold'></small>" +
                                "</div>" +
                                "<div class='d-flex justify-content-between'>" +
                                "<small class='fw-bold'> In Stock:" + product.UnitInStock + "</small> <br>" +
                                "<small class='fw-bold'> Garantie:" + product.Garantie + "</small>" +
                                "</div>")

                        })
                    }
                    else {
                        $("#Card").append("<h1>No items found</h1>")

                    }
                },
                error: function (err) {
                    console.error(err);
                }

            })
        })
    </script>
    
