<div>
    <div class="row">
        <div class="add">
            <a href="/Category/Create" class="btn btn-success ">Agregar </a>
        </div>
        <div class="col-4 mb-3">
            <div class="card shadow-sm">
                <a style="text-decoration:none; color:gray;">
                    <div class="card-body" id="Card">

                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h4 class="modal-title" id="myModalLabel">Edit Category</h4>
            </div>
            <div class="modal-body">
                <form class="formContent" id="formValidate">
                    <input id="CategoryID" name="CategoryID" type="hidden" />
                    <div class="field">
                        <input id="CategoryName" name="CategoryName" placeholder="Enter category name" />
                    </div>
                    <div class="field">
                        <input id="CategoryDescription" name="CategoryDescription" placeholder="Enter category description" />
                    </div>
                    <div class="field">
                        <select id="IsActive" class="form-select">
                            <option value=false>Disactive</option>
                            <option value=true>Active</option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btnAdd" onclick="Update();">Update</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<script>
    window.onload = () => {
        var url = "/Category/List"
        $.ajax({
            url: url,
            method: "GET",
            dataType: "json",
            contentType: "application/json",
            success: function (data) {
                data = JSON.parse(data);
                console.log(data);
                $.map(data, (category) => {
                    $("#Card").append(
                        "<div class='CardContainer'>" +
                        "<h3>" + category.CategoryName + "</h3>" +
                        "<div class='d-flex justify-content-between'>" +
                        "<p class='card-text'>" + category.CategoryDescription + "</p>" +
                        "<small class='fw-bold'></small>" +
                        "</div>" +
                        "<div class='d-flex justify-content-between'>" +
                        "<small class='fw-bold'>" + category.IsActive + "</small>" +
                        "<small class='fw-bold'>" + category.ID + "</small>" +
                        "<div class='btn-group'>" +
                        "<button type='button' class='btn btn-primary' data-toggle='modal' data-target='#myModal' onclick='getbyID(" + category.ID + ")'>Edit</button>" +
                        "<a class='btn btn-danger' onclick='Delete(" + category.ID + ")'>Borrar</a>" +
                        "</div>"
                    )
                })

            },
            error: function (err) {
                console.error(err);
            }
        })
    }
    function Delete(ID) {
        var category = {
            "ID": ID
        }
        $.post('/Category/Delete', category)
            .done(function (data) {
                if (data != null) {
                    window.location.href = data
                }
            })
            .fail(function (data) {
                console.log(data)
            })
    }

    function getbyID(ID) {
        $.ajax({
            url: "/Category/GetID",
            method: "GET",
            dataType: "json",
            contentType: "application/json",
            data: {
                "ID": ID
            },
            success: function (data) {
                data = JSON.parse(data);
                console.log(data);
                $('#CategoryID').val(data.ID);
                $('#CategoryName').val(data.CategoryName);
                $('#CategoryDescription').val(data.CategoryDescription);
                $('#IsActive').val(data.IsActive);


            },
            error: function (err) {
                console.error(err);
            }
        })
    }

    function Update() {
        var productModel = {
            "ID": $('#CategoryID').val(),
            "CategoryName": $('#CategoryName').val(),
            "CategoryDescription": $('#CategoryDescription').val(),
            "IsActive": $('#IsActive').val()

        }
        console.log(productModel)
        $.post('/Category/Update', productModel)
            .done(function (data) {
                if (data != null) {
                    window.location.href = data
                }
            })
    }

</script>
