<div>
    <div class="row">
        <div class="add">
            <a href="/Category/Create" class="btn btn-success ">Agregar </a>
        </div>
        <div class="col-4 mb-3">
            <div class="card shadow-sm">
                <a style="text-decoration:none; color:gray;">
                    <div class="card-body" id="Card">

                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h4 class="modal-title" id="myModalLabel">Edit Category</h4>
            </div>
            <div class="modal-body">
                <form class="formContent" id="formValidateCategory">
                    <input id="CategoryID" name="CategoryID" type="hidden" />
                    <div class="field">
                        <input id="CategoryName" name="CategoryName" placeholder="Enter category name" />
                    </div>
                    <div class="field">
                        <input id="CategoryDescription" name="CategoryDescription" placeholder="Enter category description" />
                    </div>
                    <div class="field">
                        <select id="IsActive" class="form-select">
                            <option value=false>Disactive</option>
                            <option value=true>Active</option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btnAdd" onclick="UpdateCategory();">Update</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/AjaxRequests.js"></script>
<script src="~/Scripts/Main.js"></script>
<script>
    window.onload = () => {
        CategoryHome()
    }
</script>